body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}



.imperial-script-regular {
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.right-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 35px;
}

.right-link-section{
  margin: 20px;
}

.right-link-section a{
  text-decoration: none;
  color: orange;
  font-size: 16px;
  font-weight: bold;
}

.campus-img{
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  left: 0;
  height: 390px;
  width: 100%;
  object-fit: cover;
}

main{
  margin: 0 auto;
  margin-top: 420px;
  max-width: 100%;
}

.aboutUs-title{
  font-weight: bold;
  text-align: center;
  border-bottom: 4px solid orange;
  padding-bottom: 30px;
  margin: auto;
  margin-bottom: 70px;
  width: 1100px;
}

.title-icon{
  height: 24px;
  margin-bottom: -4px;
  padding-right: 4px;
}

.title-img1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

#ourValues,
#history-title,
#algebra-group-title,
#reach-us-title{
  color: rgb(182, 28, 28);
  font-size: 31px;
  font-weight: bold;
}

.intro{
  background-color: rgb(247, 246, 246);
  padding: 60px 0;

}

.intro p{
  width: 1100px;
  margin: auto;
  line-height: 30px;
  font-family: "Imperial Script", cursive;
  font-size: 27px;
  padding: 30px;
}

.values{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 30px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  justify-content: center;
}

.value-container{
  border: 1px solid rgb(209, 208, 208);
  border-radius: 3px;
  margin: 5px;
  flex: 0 0 25%;
  padding: 15px;
}

.value-title{
  padding-bottom: 15px;
  font-size: 19px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(209, 208, 208);
}

.value-text{
  color: rgb(112, 111, 111);
  text-align:justify;
  line-height: 25px;
  font-size: 14px;
}

.history-icon, .reach-icon{
  height: 30px;
  padding-right: 5px;
}

.group-icon{
  height: 50px;
}

.history-info{
  background-color: rgb(247, 246, 246);
  padding: 55px 0;
}

.history-text{
  font-family: "Imperial Script", cursive;
  font-size: 27px;
  padding: 25px;
  width: 1100px;
  margin: auto;
}

.history-box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 30px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 10px;
}

.history-box{
  flex: 0 0 28%; /*flex-grow, flex-shrink, flex-basis*/
  border: 1px solid rgb(209, 208, 208);
  border-radius: 3px;
  padding: 15px;
}

.box-title{
  padding-bottom: 15px;
  font-size: 19px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(209, 208, 208);
}

.box-title span{
  color: rgb(17, 94, 156);
}

.box-text{
  color: rgb(112, 111, 111);
  line-height: 25px;
  font-size: 14px;
}

.algebra-group-info{
  background-color: rgb(247, 246, 246);
  padding: 55px 0;
  margin-bottom: 70px;
}

.algebra-group-text{
  font-family: "Imperial Script", cursive;
  width: 1100px;
  font-size: 27px;
  margin: auto;
  padding: 25px;
}

.algebra-partners{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
  max-width: 1700px;
  justify-content: center;
  margin: auto;
  margin-bottom: 50px;
}

.algebra-box{
  display: flex;
  flex-direction: column;
  width: 360px;
  align-items: center;
  height: 250px;
}

.algebra-box div{
  align-items: center;
}

.algebra-partners-img{
  width: 280px;
  object-fit: contain;
  padding: 15px;
}

.algebra-partners-img-small{
  width: 85px;
  padding: 15px;
}

.algebra-partners-img-mid{
  width: 210px;
  padding: 15px;
}

.algebra-box-title{
  border-bottom: 1px solid rgb(209, 208, 208);
  padding: 10px 0px;
  text-align: left;
  height: 43px;
  font-weight: bold;
  width: 100%;
  padding: 10px 0;
}

.reach-us-title{
  color: rgb(182, 28, 28);
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

.reach-us-container{
  position: relative;
  overflow: hidden;
  height: 1200px;
}

.parallax-background{
  position: relative;
  background-image: url('../pictures/kakoDoNas.jpg');
  overflow: hidden;
  height: 110vh;            
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

footer{
  position: relative;
  height: 300px;
}

.footer-img{
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  object-fit: cover;
  height: 300px;
}

.content{
  flex: 1;
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  text-align: center;
  padding-top: 60px;
}

.content-color{
  flex: 1;
  font-size: 50px;
  font-weight: bold;
  color: rgb(182, 28, 28);
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  text-align: center;
  padding: 50px;
}

.info-box-container{
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 40px auto;
}

.info-box{
  border: 1px solid rgb(209, 208, 208);
  border-radius: 2px;
  width: 600px;
  background-color: white;
  padding: 20px;
}

.info-box-text{
  width: 450px;
  margin: auto;
  color: rgb(112, 111, 111);
  line-height: 25px;
  font-size: 14px;
  padding-bottom: 20px;
}

.info-box-title{
  font-size: 20px;
  font-weight: bold;
}

.info-box-title{
  width: 300px;
}

.title-img{
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.title-img img{
  width: 20px;
  height: 20px;
  padding-right: 8px;
}

.info-box-text span{
  color: blue;
}

.location-algebra{
  display: flex;
  justify-content: center;
}

iframe{
  width: 1295px;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 30px;
}

