html{
  scroll-behavior: smooth;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.imperial-script-regular {
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.right-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  margin-right: 35px;
  margin-left: 20px;
  flex: 1 1 auto;
  max-width: 500px;
  flex-wrap: wrap;
  animation: pop-left 1s 1.5s linear forwards; /*forwards osigura da ostane u tom stanju i poslije*/
}

.right-link-section{
  padding: 5px;
}

.right-link{
  display: flex;
  justify-content: center;
  align-items: center;
}



@keyframes pop-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  40% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px)
  }
  60% {
    transform: translateX(10px)
  }
  70% {
    transform: translateX(-6px)
  }
  80% {
    transform: translateX(4px)
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.right-link-section{
  margin: 0;
  padding: 0;
}

.right-link{
  text-decoration: none;
  color: orange;
  font-size: 16px;
  font-weight: bold;
}

.right-link:hover{
  color: yellow;
}

#ourValues,
#history-title,
#algebra-group-title,
#reach-us-title{
  scroll-margin-top: 150px;
}

.campus-img{
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  left: 0;
  height: 390px;
  width: 100%;
  object-fit: cover;
  animation: img-pop-down 0.8s linear;
}

@keyframes img-pop-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

main{
  margin: 0 auto;
  margin-top: 420px;
  max-width: 100%;
}

.aboutUs-title{
  font-weight: bold;
  text-align: center;
  border-bottom: 4px solid orange;
  padding-bottom: 30px;
  margin: auto;
  margin-bottom: 70px;
  width: 1100px;
  animation: title-pop-up 0.8s linear;
}

@keyframes title-pop-up {
  0%{
    transform: translateY(60%);
  }
  100%{
    transform: translateY(0);
  }
}

.title-icon{
  height: 24px;
  margin-bottom: -4px;
  padding-right: 4px;
}

.title-img1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

}

.history-container{
  margin-bottom: 40px;
}

#ourValues,
#history-title,
#algebra-group-title,
#reach-us-title{
  color: rgb(182, 28, 28);
  font-size: 31px;
  font-weight: bold;
}

.intro{
  background-color: rgb(247, 246, 246);
  padding: 60px 0;
}

.intro-text{
  width: 1100px;
  margin: auto;
  line-height: 30px;
  font-family: "Imperial Script", cursive;
  font-size: 27px;
  padding: 30px;
  animation: appear-text 1s ease;
}

@keyframes appear-text {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.values{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 30px;
  width: 100%;
  max-width: 1500px;
  margin: 33px auto;
  justify-content: center;
}

.value-container{
  border: 1px solid rgb(209, 208, 208);
  border-radius: 3px;
  margin: 5px;
  flex: 0 0 25%;
  padding: 15px;
}

.value-title{
  padding-bottom: 15px;
  font-size: 19px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(209, 208, 208);
}

.value-text{
  color: rgb(112, 111, 111);
  text-align:justify;
  line-height: 25px;
  font-size: 14px;
}

.history-icon, .reach-icon{
  height: 30px;
  padding-right: 5px;
}

.group-icon{
  height: 50px;
}

.history-info{
  background-color: rgb(247, 246, 246);
  padding: 55px 0;
}

.history-text{
  opacity: 0;
  font-family: "Imperial Script", cursive;
  font-size: 27px;
  padding: 25px;
  width: 1100px;
  margin: auto;
  transition: 1s ease;
}

/* kada je vidljiva cijela sekcija  */
.history-text-visible{
  opacity: 1;
}

.history-box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 30px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 10px;
}

.history-box{
  flex: 0 0 28%; /*flex-grow, flex-shrink, flex-basis*/
  border: 1px solid rgb(209, 208, 208);
  border-radius: 3px;
  padding: 15px;
}

.box-title{
  padding-bottom: 15px;
  font-size: 19px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(209, 208, 208);
}

.box-title span{
  color: rgb(17, 94, 156);
}

.box-text{
  color: rgb(112, 111, 111);
  line-height: 25px;
  font-size: 14px;
}

.algebra-group-info{
  background-color: rgb(247, 246, 246);
  padding: 40px 0;
  margin-bottom: 70px;
}

.algebra-group-text{
  opacity: 0;
  font-family: "Imperial Script", cursive;
  width: 1100px;
  font-size: 27px;
  margin: auto;
  padding: 25px;
  transition: 1s ease;
}

.algebra-group-text-visible{
  opacity: 1;
}

.algebra-partners{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
  max-width: 1700px;
  justify-content: center;
  margin: auto;
  margin-bottom: 50px;
}

.algebra-box{
  display: flex;
  flex-direction: column;
  width: 360px;
  align-items: center;
  height: 250px;
}

.algebra-box div{
  align-items: center;
}

.algebra-partners-img{
  width: 280px;
  object-fit: contain;
  padding: 15px;
}

.algebra-partners-img-small{
  width: 85px;
  padding: 15px;
}

.algebra-partners-img-mid{
  width: 210px;
  padding: 15px;
}

.algebra-box-title{
  border-bottom: 1px solid rgb(209, 208, 208);
  padding: 10px 0px;
  text-align: left;
  height: 43px;
  font-weight: bold;
  width: 100%;
  padding: 10px 0;
}

.reach-us-title{
  color: rgb(182, 28, 28);
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

.reach-us-container{
  position: relative;
  overflow: hidden;
  height: 1100px;
  margin: 0;
}

.parallax-background{
  position: relative;
  background-image: url('../pictures/kakoDoNas.jpg');
  overflow: hidden;
  height: 100%;            
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*FOOTER:*/
footer{
  position: relative;
  height: 305px;
  margin-top: auto;
}

.footer-img{
  position: absolute;
  z-index: -1;
  width: 100%;
  object-fit: cover;
  height: 305px;
}

.content{
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  text-align: center;
  padding-top: 60px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.content-color{
  font-size: 50px;
  font-weight: bold;
  color: rgb(182, 28, 28);
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  text-align: center;
  padding: 60px;
  position: relative;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.info-box-container{
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 40px auto;
}

.info-box{
  border: 1px solid rgb(209, 208, 208);
  border-radius: 2px;
  width: 600px;
  background-color: white;
  padding: 20px;
}

.info-box-text{
  width: 450px;
  margin: auto;
  color: rgb(112, 111, 111);
  line-height: 25px;
  font-size: 14px;
  padding-bottom: 20px;
}

.info-box-title{
  font-size: 20px;
  font-weight: bold;
}

.info-box-title{
  width: 300px;
}

.title-img{
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.title-img img{
  width: 20px;
  height: 20px;
  padding-right: 8px;
}

.info-box-text span{
  color: blue;
}

.location-algebra{
  display: flex;
  justify-content: center;
}

iframe{
  width: 1295px;
  height: 320px;
  margin: 0 auto;
  margin-bottom: 30px;
}

 @media screen and (max-width: 1100px){
  iframe {
    width: 800px;
  }

  footer{
    height: 250px;
  }

  .content,
  .content-color{
    font-size: 45px;
  }

  .content{
    margin-bottom: 10px;
  }
} 

