.header{
  background-color: #151515;
  height: 80px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  flex-wrap: wrap;
  overflow: hidden;
  max-width: 100%;
}

.header.expanded {
  height: 240px;
}

.left-section{
  display: flex;
  align-items: center;
  margin-left: 20px;
  flex: 1 1 auto;
  max-width: 100%;
  flex-wrap: wrap;
}

.link-section a{ 
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin: 0 4px; /*udaljava ikonu i link*/
  cursor: pointer;
}

.link-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 27px; 
}

.link-icon,
.img-logged-in{
  height: 17px;
}

.link-section a:hover{
  color: orange;
}

.curriculum{
  display: none;
}

.username-text{
  font-weight: bold;
  color: rgb(82, 168, 218);
  margin-top: 16px;
}

.hamburger-menu{
  display: none;
  position: absolute;
  top: 20px;
  left: 10px;
  justify-content: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 0px 10px 0px 0px;
  height: 40px;
  width: 40px;
}

.ham-img{
  height: 100%;
}

@media (max-width: 768px) {

  .hamburger-menu {
    display: flex; /* Prikazuje menu */
    margin-left: 20px;
  }

  /*Responzivnost kada smo ulogirani*/
  .header.logged .left-section{
    align-items: start;
    width: 140px;
  }

  .header.logged .link-section a {
    font-size: 13px;
  }

  .header.logged .link-section{
    margin: 6px;
    padding: 0px;
  }

  .header.logged .link-section:first-child{
    margin: 0px;
    padding: 0px;
  }

  .header.expanded{
    display: flex;
    justify-content: center;
  }

  /*Responzivnost kada Nismo ulogirani*/
  .left-section {
    display: none; /* Sakriva navigaciju po defaultu */
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10px;
    width: 200px;
    padding: 10px;
  }

  .left-section.active {
    display: flex; /* Prikazuje navigaciju kada je aktivna */
  }

  .link-section {
    padding: 10px 0;
  }

  .link-icon {
    width: 20px;
    height: 20px;
  }
}


/*Kada je vece od 768px*/
@media (min-width: 768px) {

  .hamburger-menu {
    display: none;
  }

  .header.expanded{
    height: 80px;
  }

  .left-section {
    display: flex;
  }

  .left-section.active {
    display: flex; /* Prikazuje navigaciju kada je aktivna */
  }

  .link-section {
    padding: 10px 0;
  }

  .link-icon {
    width: 20px;
    height: 20px;
  }

   /*Responzivnost kada smo ulogirani*/
  

  .header{
    display: flex;
    justify-content: center;
    height: 90px;
  }
}