.header{
  background-color: #151515;
  height: 80px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  flex-wrap: wrap;
  overflow: hidden;
  max-width: 100%;
}

.left-section{
  display: flex;
  align-items: center;
  margin-left: 20px;
  flex: 1 1 auto;
  max-width: 100%;
  flex-wrap: wrap;
}

.link-section a{ 
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin: 0 4px; /*udaljava ikonu i link*/
  cursor: pointer;
}

.link-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 27px; 
}

.link-icon{
  height: 17px;
}

.link-section a:hover{
  color: orange;
}

.curriculum{
  display: none;
}